$c-accent: #1B2C4E;
$c-accent2: #FF522D;
$c-text: #9CA5B5;
$c-bg: #F2F5F9;
$c-border: #E4E8ED;
$tt: 0.3s;

.btn-icon {
    background: transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: $c-accent;
    cursor: pointer;
    transition: color $tt;

    svg {
        width: 24px;
        height: 24px;
    }

    &:hover,
    &.active {
        color: $c-accent2;
    }
}

.has-scroll {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: $c-bg;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $c-text;
        border-radius: 12px;
    }
}

.schedule {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;

    &__sidebar {
        flex: 0 0 320px;
        background-color: $c-bg;
        max-width: 0px;
        transition: max-width $tt linear;
    }

    &__sidebar.active {
        max-width: 320px;
        transition: max-width $tt linear;
    }

    &__body {
        flex: 1 1 auto;
        transition: max-width $tt linear;
    }

    &__sidebar.active+&__body {
        max-width: calc(100% - 320px);
        transition: max-width $tt linear;
    }

    &__sidebar+&__body {
        max-width: 100%;
        transition: max-width $tt linear;
    }
}

.sidebar {
    overflow: hidden;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
    }

    &__logo {
        height: 32px;

        img {
            width: auto;
            height: 100%;
        }
    }

    &__body {
        max-height: calc(100vh - 64px);
        padding: 28px 20px 24px;
    }
}

.filter {
    &__count {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2em;
        color: $c-text;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 20px;
    }
}

.filter-param {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__title {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $c-accent;
    }

    &__arrow {
        width: 16px;
        height: 16px;
        transform: rotate(180deg);
        transition: transform $tt linear;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding-top: 16.5px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__clear {
        background-color: transparent;
        outline: none;
        display: none;
        align-items: center;
        gap: 4px;
        width: fit-content;
        padding: 4px 0;
        cursor: pointer;
        transition: color $tt linear;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: $c-text;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &.checked &__clear {
        display: flex;
    }

    &.expanded &__arrow {
        transform: rotate(0);
    }

}

.filter-param {
    &--checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--checkbox &__title {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2em;
        text-transform: none;
    }

    &--checkbox .filter-field {
        &__view {
            position: relative;
            width: 48px;
            height: 24px;
            background-color: $c-text;
            transition: background-color $tt linear;
        }

        &__view:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 50%;
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            background-color: #fff;
            border-radius: 100%;
            transition: left $tt linear;
        }

        &__input:checked+.filter-field__view {
            background-color: $c-accent2;
        }

        &__input:checked+.filter-field__view:after {
            left: 25px;
        }
    }
}


.filter-field {
    position: relative;
    cursor: pointer;

    &__input {
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
    }

    &__view {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 4px;
        padding: 4px 12px;
        padding-left: 12px;
        background-color: #fff;
        border-radius: 18px;
        transition: background-color $tt linear,
            color $tt linear;
        color: $c-accent;
    }

    &__icon {
        width: 16px;
        height: 16px;
        display: none;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__name {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
    }

    &__input:checked+&__view {
        background-color: $c-accent2;
        color: #fff;
        padding-left: 8px;
    }

    &__input:checked+&__view>&__icon {
        display: block;
    }
}


.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11.5px 20px;
    border-bottom: 1px solid $c-border;

    &__controls {
        display: flex;
        gap: 4px;
    }
}

.schedule-content {
    &__slider {
        overflow: hidden;

        .swiper-slide {
            max-height: calc(100vh - 56px);
            padding: 20px;
            opacity: 0 !important;
            transition: opacity $tt;
            z-index: -10;
            box-sizing: border-box;

        }

        .swiper-slide-active {
            opacity: 1 !important;
            z-index: 1;
        }
    }
}

.month {
    &__title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.33em;
        color: $c-accent;
        text-transform: capitalize;
    }

    &__table {
        margin-top: 20px;
    }
}

.calendar-table {
    &__row {
        display: flex;
        height: 124px;
    }

    &__row--header {
        height: 48px;
    }

    &__row--header &__cell {
        display: flex;
        align-items: center;

        &:first-child {
            border-radius: 8px 0 0 0;
        }

        &:last-child {
            border-radius: 0 8px 0 0;
        }
    }


    &__cell {
        flex: 0 0 calc(100% / 7);
        max-width: calc(100% / 7);
        border: 1px solid $c-border;
        padding: 12px;
    }
}

.calendar-cell {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__day {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
        color: $c-text;
    }

    &__events {
        display: flex;
        flex-direction: column;
        gap: 6px;
        overflow: hidden;
    }

    &__event {
        flex: 0 0 auto;
        padding: 2px 4px;
        border-radius: 4px;
        color: rgba(0, 133, 255, 1);
        background-color: rgba(0, 133, 255, 0.1);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.swiper-slide.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.year {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title {
        font-size: 26px;
        font-weight: 500;
        line-height: 1.33em;
        color: $c-accent;
    }
}

.cards-table {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 20px;
}

.cards-card {
    display: flex;
    flex-direction: column;
    min-height: 260px;
    padding: 16px;
    background-color: $c-bg;
    border-radius: 12px;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__date {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2em;
        color: $c-accent2;
    }

    &__logo {
        height: 20px;

        svg {
            height: 100%;
            width: auto;
        }
    }

    &__title {
        margin-top: auto;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2em;
        color: $c-accent;
    }

    &__tags {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        margin-top: 24px;
    }

    &__tag {
        display: flex;
        align-items: center;
        padding: 0 8px;
        height: 16px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #6e7191;
        background-color: $c-border;
        border-radius: 20px;
    }
}

.calendar .hidden {
    display: none;
}