@media (max-width: 768px) {
  .tg_channels .channels-block-desktop {
    display: none;
  }
}
.tg_channels .channels-block-mobile {
  display: none;
}
@media (max-width: 768px) {
  .tg_channels .channels-block-mobile {
    display: block;
  }
}
.tg_channels .card__body {
  display: none;
  margin: 0;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: calc(100%);
  padding: 140px 40px 40px;
}
@media (max-width: 1919px) {
  .tg_channels .card__body {
    padding: 7.295vw 2.084vw 2.084vw;
  }
}
@media (max-width: 768px) {
  .tg_channels .card__body {
    width: calc(100% + 1vw);
    margin-left: -0.5vw;
    bottom: 0;
    top: auto;
    padding: 6vw 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    z-index: 999;
  }
}
.tg_channels .card__body .card__body--title {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 1919px) {
  .tg_channels .card__body .card__body--title {
    margin-top: 2.71vw;
  }
}
@media (max-width: 768px) {
  .tg_channels .card__body .card__body--title {
    margin-top: 1vw;
  }
}
.tg_channels .card__body .card__body--title:first-child {
  margin: 0;
}
@media (max-width: 768px) {
  .tg_channels .card__body .card__body--title .card__body-close {
    cursor: pointer;
    position: absolute;
    top: -3vw;
    right: 0;
  }
  .tg_channels .card__body .card__body--title .card__body-close::before {
    content: 'X';
  }
}
.tg_channels .card__body .card__body-link {
  color: #727272;
  font-size: 24px;
  line-height: 100%;
  display: inline-block;
  border-bottom: 1px solid #727272;
  margin-right: 50px;
}
@media (max-width: 1919px) {
  .tg_channels .card__body .card__body-link {
    font-size: 1.251vw;
    margin-right: 2.606vw;
  }
}
@media (max-width: 768px) {
  .tg_channels .card__body .card__body-link {
    font-size: 5.607vw;
    margin-right: 10vw;
  }
}
@media (max-width: 768px) {
  .tg_channels .card__body .card__body--item {
    /* margin-bottom: 10vw; */
  }
}
.tg_channels .intro {
  background: url('../img/TG_channels/img.jpg') top right / cover no-repeat;
}
@media (max-width: 768px) {
  .tg_channels .intro {
    background: url('../img/TG_channels/img-mob.jpg') top right / cover no-repeat;
  }
}
.tg_channels .digits__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 768px) {
  .tg_channels .digits__row {
    flex-direction: column;
    align-items: stretch;
  }
}
.tg_channels .digits__row .digits__btn {
  flex: 0 0 auto;
  margin-left: 100px;
  padding: 20px 0;
  width: 301px;
  background: #284CA6;
  border-radius: 800px;
  font-family: 'Mabry Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1919px) {
  .tg_channels .digits__row .digits__btn {
    margin-left: 5.211vw;
    padding: 1.042vw 0;
    width: 15.685vw;
    border-radius: 41.688vw;
    font-size: 1.251vw;
  }
}
@media (max-width: 768px) {
  .tg_channels .digits__row .digits__btn {
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 18.692vw;
    border-radius: 186.916vw;
    font-size: 5.607vw;
    margin-top: 3.738vw;
  }
}
.channels-block__container .general-title {
  margin-top: 120px;
}
@media (max-width: 1919px) {
  .channels-block__container .general-title {
    margin-top: 6.253vw;
  }
}
@media (max-width: 768px) {
  .channels-block__container .general-title {
    margin-top: 9.34vw;
  }
}
.channels-block__container > p.general-text {
  margin-top: 24px;
}
@media (max-width: 1919px) {
  .channels-block__container > p.general-text {
    margin-top: 1.251vw;
  }
}
@media (max-width: 1919px) {
  .channels-block__container .channels-block__btn-plus {
    margin-top: 2.084vw;
  }
}
.channels-block__items {
  margin-top: 40px;
  margin-left: -40px;
  margin-right: -40px;
}
@media (max-width: 1919px) {
  .channels-block__items {
    margin-top: 2.084vw;
    margin-left: -2.084vw;
    margin-right: -2.084vw;
  }
}
.channels-block__items .channels-block__item {
  width: 50%;
  padding: 0 40px;
  margin-bottom: 80px;
}
@media (max-width: 1919px) {
  .channels-block__items .channels-block__item {
    margin-bottom: 4.169vw;
    padding: 0 2.084vw;
  }
}
@media (max-width: 768px) {
  .channels-block__items .channels-block__item {
    margin-bottom: 7.477vw;
    width: 100%;
  }
}
.channels-block__items .channels-block__item .channels-block__column {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 768px) {
  .channels-block__items .channels-block__item .channels-block__column > * {
    order: -1;
  }
  .channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show {
    order: 1;
  }
}
.channels-block__items .channels-block__item .channels-block__column .channels-block__img {
  padding-top: 70%;
}
@media (max-width: 768px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__img {
    padding-top: 68.42%;
  }
}
.channels-block__items .channels-block__item .channels-block__column .channels-block__item-subtitle {
  display: inline-block;
  margin-top: 24px;
  font-family: 'Mabry Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #000000;
}
@media (max-width: 1919px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__item-subtitle {
    margin-top: 1.3vw;
    font-size: 2.084vw;
  }
}
@media (max-width: 768px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__item-subtitle {
    margin-top: 3.7vw;
    font-size: 7vw;
    line-height: 120%;
  }
}
.channels-block__items .channels-block__item .channels-block__column .channels-block__item-text {
  margin-top: 8px;
  font-family: 'Mabry Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 125%;
  color: #727272;
}
@media (max-width: 1919px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__item-text {
    margin-top: 0.417vw;
    font-size: 1.668vw;
  }
}
@media (max-width: 768px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__item-text {
    margin-top: 1.5vw;
    font-size: 5.6vw;
    line-height: 133%;
  }
  .channels-block__items .channels-block__item .channels-block__column .channels-block__item-text br {
    display: none;
  }
}
.channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show {
  cursor: pointer;
  background: #284CA6;
  border-radius: 8px;
  width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 1919px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show {
    border-radius: 0.417vw;
    width: 6.253vw;
    height: 4.169vw;
    margin-bottom: 2.084vw;
  }
}
@media (max-width: 768px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show {
    width: 18.692vw;
    height: 13.084vw;
    margin-top: 3.738vw;
    border-radius: 1.869vw;
  }
}
.channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 24px;
}
@media (max-width: 1919px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show img {
    width: 2.084vw;
    height: 1.251vw;
  }
}
@media (max-width: 768px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show img {
    width: 5.607vw;
    height: 3.738vw;
  }
}
.channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show img:first-child {
  opacity: 0;
}
.channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show.active {
  z-index: 100;
}
@media (max-width: 768px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show.active {
    z-index: 1;
  }
}
.channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show.active img {
  transform: translate(-50%, -15%) rotate(180deg);
}
.channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show.active img:first-child {
  opacity: 1;
  transform: translate(-50%, -90%) rotate(0deg);
}
@media (max-width: 768px) {
  .channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show.active img {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .channels-block__items .channels-block__item .channels-block__column .channels-block__btn-show.active img:first-child {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
